<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="content" role="main">
        <div class="signin">
            <h1>Зарегистрироваться</h1>
            <input type="text" placeholder="login">
            <input type="email" placeholder="email">
            <input type="password" placeholder="password">
        </div>
        <button class="button submit">Зарегистрироваться</button>
    
      </div>
      
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
      <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
      <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    
          
          
      
    